/*
	Overal page layout styles
*/

html
	{
	font-size: 12px;
	}

body
	{
	padding: 10px;
	font-family: Tahoma, Arial, sans-serif;
	}

h2
	{
	margin: 6px;
	font-size: 14px;
	}
	
ul
	{
	margin: 10px;
	}
	
li
	{
	margin: 10px;
	}